/*===================================
=            Details Box            =
===================================*/

#details-box {
  flex: 1 0 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;

  @include breakpoint('medium') {
    justify-content: flex-end;
    margin-top: 1rem;
  }

  &.is-visible {
    display: flex;
  }

  .details-box-item {
    display: inline-block;
    flex: 0 0 auto;
    @include fontSize(13px);
    margin-right: 1rem;

    @include breakpoint('medium') {
      margin-left: 2rem;
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .details-box-country {
    display: block;
    flex: 1 0 100%;
    margin-bottom: 0.5rem;
    font-family: $font-roboto;
    @include fontSize(18px);
    font-style: italic;
    text-align: left;

    @include breakpoint('medium') {
      text-align: right;
    }

    .country-name,
    .details-box-value {
      font-weight: bold;
      font-style: normal;
      padding-bottom: 2px;
      box-shadow: inset 0px -2px 0px 0 $red;
    }
  }

  .details-box-life-expectancy,
  .details-box-sdi {
    display: none;

    @include breakpoint('medium') {
      display: block;
    }
  }

  .details-box-label {
    font-family: $font-roboto;
    @include fontSize(11px);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $tooltip-gray;
  }

  .details-box-value {
    color: $black;
  }

  &.subnational {
    .country-name-details,
    .details-box-life-expectancy {
      display: none;
    }
  }

  .country-economy-plural {
    display: none;

    &.is-visible {
      display: inline;
    }
  }

}

