body {
  margin: 0;
  padding: 0;
}
.mapboxgl-popup {
  max-width: 400px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map {
  position: fixed;
  /* width: 50%; */
}

#features {
  height: 1000vh;
}

.box {
  position: fixed;
  width: 300px;
}

button.scroll-up,
button.scroll-down {
  border: 2px solid #00b29e;
  color: #00b29e;
  background: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: block;
  margin: 12px auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.scroll-down {
  padding: 6px 0 0 6px;
}

button.scroll-up {
  display: none;
  padding: 0 0 6px 6px;
}

button.scroll-up:hover,
button.scroll-down:hover {
  border-color: #00b29e;
  background: #00b29e;
  color: #fff;
}

button.scroll-up .symbol,
button.scroll-down .symbol {
  display: block;
  font-size: 2rem;
  transform: rotate(90deg) scaleY(2);
}

button .text {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #004165;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
  margin: auto;
}

@media (max-width: 425px) {
  .hamburger {
    position: fixed;
    top: 9px;
    left: calc(100vw - 300px);
    width: 300px;
  }

  aside.toolbox .ui {
    width: 33px;
    position: fixed;
    top: 9px;
  }

  .box {
    top: 24px;
  }

  button.scroll-up,
  button.scroll-down {
    display: none;
  }
}
/*============================
=         Animation         =
============================*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
