$teal: #00b29e;
$blue-gray: #728c99;
$dark-gray: #333;
$tooltip-gray: #808081;
$select-blue: #455a64;
$gray: #d4d0cb;
$color__scroll-total: #efefef;

/*----------  Fonts  ----------*/
$font_pt_sans: 'PT Sans', sans-serif;
$font_pt_sans_narrow: 'PT Sans Narrow', sans-serif;
