.mapboxgl-popup {
  max-width: 400px;
}

button.mapboxgl-popup-close-button {
  font-size: 16px;
  color: #c3c3c3;
  font-weight: bold;
}

.mapboxgl-ctrl-top-right {
  z-index: 999;

  @include breakpoint('medium') {
    // top: 60px !important;
    top: -5px !important;
    right: unset !important;
    left: 0 !important;
  }
}

.leaflet-left {
  z-index: 999;
  right: 10px !important;
  left: unset !important;
  top: 10px !important;

  @include breakpoint('medium') {
    left: -10px !important;
    right: unset !important;
    top: -10px !important;
  }
}

.scroll__graphic {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  transform: translate3d(0, 0, 0);

  &.is-fixed {
    position: fixed;

    @include breakpoint('medium') {
      position: sticky;
    }
  }

  &.is-bottom {
    top: auto;
    bottom: -5rem;

    @include breakpoint('medium') {
      top: 0;
      bottom: unset;
    }
  }
}

.map {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0;
}

.popupHeaderStyle {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.popupEntryStyle {
  margin-bottom: 0.5rem;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #e4e3e3;
}

.leaflet-marker-icon:not(.marker-cluster-small) {
  background-color: #e06b91;
  border-radius: 50%;
  border: 2px solid white;
  padding: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.marker-cluster span {
  color: transparent;
}

.marker-cluster-small,
.marker-cluster-small div {
  background-color: transparent;
}

.icon-united-states:not(.marker-cluster-small) {
  background-color: #6688b9;
}

.icon-france:not(.marker-cluster-small) {
  background-color: #f89c74;
}

.icon-australia:not(.marker-cluster-small) {
  background-color: #f6cf71;
}

.icon-new-zealand:not(.marker-cluster-small) {
  background-color: #00ad3b;
}

.icon-china:not(.marker-cluster-small) {
  background-color: #e06b91;
}

#interactive-source {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  max-width: calc(100% - 80px);
  z-index: 10;

  @include breakpoint('medium') {
    margin-top: 2rem;
    max-width: unset;
  }

  a,
  a:hover {
    box-shadow: none;
  }

  img {
    max-width: 300px;
    height: 20px;
    margin-bottom: 16px;

    @include breakpoint('medium') {
      height: 32px;
    }
  }

  p {
    font-size: 18rem;
    line-height: 1.1;
    margin: 0;
    text-align: right;
    color: $dark-gray;
  }
}
.navigator {
  text-align: center;

  button.scroll-up,
  button.scroll-down {
    border: 2px solid #00b29e;
    color: #00b29e;
    background: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /* border-radius: 50%; */
    /* height: 50px; */
    /* width: 50px; */
    display: inline-block;
    margin: 12px auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 3px 6px;
    text-transform: uppercase;
  }

  button.scroll-up {
    margin-right: 1rem;
  }

  button.scroll-up:hover,
  button.scroll-down:hover {
    border-color: #00b29e;
    background: #00b29e;
    color: #fff;
  }

  button.scroll-up .symbol,
  button.scroll-down .symbol {
    display: block;
    // font-size: 1rem;
    /* transform: rotate(90deg) scaleY(2); */
  }

  button .text {
    display: none;
  }
}
