/*===============================
=            Legends            =
===============================*/
.mapboxgl-ctrl-top-left {
  top: 66px;
}

#legend {
  position: sticky;
  z-index: 12;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -90px;
  align-items: center;
  padding: 0.5rem;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.5);
  width: calc(100% - 60px);

  @include breakpoint('medium') {
    margin-bottom: -50px;
    margin-right: auto;
    width: 100%;
    padding-left: 18px;
    margin-left: 30px;
  }

  &.is-hidden {
    display: none;
  }

  &-label {
    font-family: $font_pt_sans;
    @include fontSize(11px);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $tooltip-gray;
    display: none;

    &.is-visible {
      display: block;
      margin-right: 0.5rem;

      @include breakpoint('medium') {
        display: inline;
        margin-right: 0;
      }
    }
  }

  .popupHeaderStyle {
    flex-basis: 100%;
  }

  .legend-label {
    position: relative;
    padding-left: 1.3em;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  > .legend-label:nth-child(n + 3) {
    margin-left: 0.45rem;
  }

  .legend-label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    // background-color: #000;
    // background-image: url(../img/red.png);
  }

  .label-base::before {
    background-size: contain;
  }

  .label-pact::before {
    background-size: 200%;
  }
  .label-base.base-au::before {
    background-color: #f6cf71;
    border: 2px solid #fff;
    // background-image: url(../img/yellow.png);
  }
  .label-base.base-fr::before {
    background-color: #f89c74;
    border: 2px solid #fff;
    // background-image: url(../img/green.png);
  }
  .label-base.base-nz::before {
    background-color: #00ad3b;
    border: 2px solid #fff;
    // background-image: url(../img/orange.png);
  }
  .label-base.base-us::before {
    background-color: #6688b9;
    border: 2px solid #fff;
    // background-image: url(../img/blue.png);
  }
  .label-pact.pact-nz::before {
    background-image: url(../img/greenstripe.png);
  }
  .label-pact.pact-us::before {
    background-image: url(../img/bluestripe.png);
  }
}
