/*=======================================
=            Scroll Sections            =
=======================================*/

%prose {
  padding: 1rem;
  background-color: white;
  border: 1px solid $blue-gray;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  text-align: left;

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.85em;
    line-height: 1.4;

    @include breakpoint('medium') {
      font-size: 1em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.initial-step-desc {
  position: absolute;
  z-index: 30;
  top: 70px;
  padding: 1rem;
  @extend %prose;

  @media only screen and (max-width: 48em) and (orientation: landscape) {
    display: none;
  }

  @include breakpoint('medium') {
    max-width: 30em;
    top: 1rem;
    right: 0;
    left: unset;
  }

  &.is-hidden {
    display: none;
  }
}

.scroll__text {
  position: relative;
  top: unset;
  z-index: 30;
  pointer-events: none;

  @include breakpoint('medium') {
    top: unset;
    left: calc(100vw - 40% - 20px);
    width: 40%;
  }

  @include breakpoint('xlarge') {
    width: 33%;
    max-width: 30em;
  }
}

.step {
  position: relative;
  margin: 2rem auto;
  // padding-bottom: 100vh;
  opacity: 0.25;
  // visibility: hidden;

  &.is-active {
    opacity: 1;
    top: 70px;
  }

  .prose {
    @extend %prose;
    pointer-events: auto;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .prose-jump-to {
      @include fontSize(24px);
    }
  }
}

#scroll-progress {
  display: none;
  --icon-width: 1rem;
  --icon-height: calc(var(--icon-width) + 8px);
  --padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: $blue-gray;
  padding: var(--padding);
  padding-bottom: 0;

  @include breakpoint('medium') {
    // left: 47%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(var(--icon-width) + var(--padding) * 2);
    background-color: $select-blue;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .scroll-icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: var(--icon-width);
    height: var(--icon-width);
    margin-left: 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    animation: scroll-animation 2s infinite;
    box-sizing: border-box;
  }

  .scroll-current-page,
  .scroll-total-page {
    display: inline-block;
    font-family: $font_pt_sans;
    line-height: 1;
  }

  .scroll-current-page {
    margin-left: 2rem;
    @include fontSize(18px);
    color: white;

    @include breakpoint('medium') {
      @include fontSize(24px);
    }
  }

  .scroll-total-page {
    @include fontSize(22px);
    color: $color__scroll-total;
    margin-left: -1px;
    vertical-align: 2px;

    @include breakpoint('medium') {
      @include fontSize(27px);
    }
  }

  @keyframes scroll-animation {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-10px, 10px);
      opacity: 0;
    }
  }
}
