.box {
  border-radius: 0;
}

h3 {
  display: none;
}

aside.toolbox {
  width: 250px;
}

body,
#controls li label {
  font-family: 'canada-type-gibson', sans-serif;
}

h1,
h2,
h3,
.hamburger .menu,
.mobile-only {
  font-family: 'baskerville-urw', serif;
  font-weight: 300;
}
.box header h1 {
  font-size: 21px;
}

.leaflet-container .leaflet-control-attribution {
  background-color: black;
  color: white;
}

.leaflet-control-attribution.leaflet-control a {
  text-decoration: underline;
  color: white;
}

input[name='ALABAMA POWER CO'] + .colorKey {
  background-color: #1d6996;
  border-radius: 50%;
}
input[name='BONNEVILLE POWER ADMINISTRATION'] + .colorKey {
  background-color: #0f8554;
  border-radius: 50%;
}
input[name='CENTERPOINT ENERGY'] + .colorKey {
  background-color: #22b2b1;
  border-radius: 50%;
}
input[name='GEORGIA POWER CO'] + .colorKey {
  background-color: #5ead26;
  border-radius: 50%;
}
input[name='PACIFICORP'] + .colorKey {
  background-color: #edb908;
  border-radius: 50%;
}
input[name='PG&E'] + .colorKey {
  background-color: #ea811c;
  border-radius: 50%;
}
input[name='PROGRESS ENERGY CAROLINAS INC'] + .colorKey {
  background-color: #df3a2c;
  border-radius: 50%;
}
input[name='TENNESSEE VALLEY AUTHORITY'] + .colorKey {
  background-color: #c7639c;
  border-radius: 50%;
}
input[name='SCE'] + .colorKey {
  background-color: #8e72c1;
  border-radius: 50%;
}

input[name='OTHERS'] + .colorKey {
  background-color: #6f4070;
  border-radius: 50%;
}

input[name='NOT AVAILABLE'] + .colorKey {
  background-color: #555555;
  border-radius: 50%;
}

.disclaimer {
  background-color: black;
  color: white;
  padding: 0.3rem;
  display: none;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  width: 100vw;
}

@media (max-width: 425px) {
  .disclaimer {
    display: block;
  }

  body > section {
    height: 95vh;
  }

  aside.toolbox .ui:not(:checked) ~ .box {
    display: none;
  }

  aside.toolbox .ui:not(:checked) ~ .box {
    display: none;
  }
}
