$teal: #00b29e;
$blue-gray: #728c99;
$gray: #333;
$tooltip-gray: #808081;
$select-blue: #455a64;
$dark-gray: #d4d0cb;
$color__scroll-total: #efefef;

/*----------  Fonts  ----------*/
$font_pt_sans: 'PT Sans', sans-serif;
$font_pt_sans_narrow: 'PT Sans Narrow', sans-serif;
/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/pt-sans-v9-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/pt-sans-v9-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/pt-sans-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/pt-sans-v9-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/pt-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/pt-sans-v9-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/pt-sans-v9-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/pt-sans-v9-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/pt-sans-v9-latin-700.svg#PTSans')
      format('svg'); /* Legacy iOS */
}
/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
    url('../fonts/pt-sans-narrow-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v9-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/pt-sans-narrow-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/pt-sans-narrow-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/pt-sans-narrow-v9-latin-regular.svg#PTSansNarrow')
      format('svg'); /* Legacy iOS */
}
/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
    url('../fonts/pt-sans-narrow-v9-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v9-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v9-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/pt-sans-narrow-v9-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/pt-sans-narrow-v9-latin-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}
